.avatar___2yR8K {
  width: 70%;
  padding: 1px;
  border-radius: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  margin-left: 15%; }

.menu_item___1QyIj {
  display: block;
  line-height: 51px;
  height: 51px;
  position: relative;
  text-decoration: none;
  margin: 20px 0;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; }
  .menu_item___1QyIj .icon___28ZPY {
    margin: 0 15%; }
  .menu_item___1QyIj .title___XIPAb {
    color: #EE86B7;
    font-size: 9px;
    letter-spacing: 2px;
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    text-align: center;
    opacity: 0;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out; }

.menu_item___1QyIj:hover .icon___28ZPY {
  display: none; }

.menu_item___1QyIj:hover .title___XIPAb {
  opacity: 1; }

.social_icon___18Nui {
  margin: 20px 10px;
  cursor: pointer; }

.menu___7blv8 {
  margin-left: 10%;
  margin-right: 10%;
  height: 100%;
  margin-top: -150px; }

.menu_wrapper___W14ep {
  margin-top: 180px; }

.social_wrapper___txaPG {
  bottom: 0;
  position: fixed; }

.sidebar___3ShKD {
  width: 60px;
  height: 100%;
  left: 0;
  position: fixed;
  background-color: #99CED4;
  top: 0;
  z-index: 3; }

.thinking_wrapper___2v76Z {
  background-color: #6E7376;
  width: 100vw;
  height: 100%;
  right: 0;
  position: absolute;
  z-index: 0;
  color: white;
  font-family: Nunito, sans-serif; }

.thinking___2hlAQ {
  width: 350px;
  position: absolute;
  left: 0;
  right: 0;
  top: 30vh;
  bottom: 0;
  margin: auto;
  overflow: auto; }

.thinking_text___2kdgZ {
  text-align: center; }

.progress_bar___2NKy4 {
  position: relative;
  height: 20px;
  width: 340px;
  border-radius: 50px;
  border: 1px solid #99CED4; }

.filler___tg-Cp {
  background: #EE86B7;
  height: 100%;
  border-radius: inherit;
  transition: width 1.4s ease-in; }

.content___2xcGa {
  background-color: #6E7376;
  width: 100vw;
  min-height: 100vh;
  right: 0;
  position: absolute;
  z-index: 0; }

.home___2mI9I {
  font-family: "Didact Gothic", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  flex-wrap: wrap; }

body {
  margin: 0; }

.experience_title___3VEkW {
  color: #EE86B7;
  font-family: 'Nunito', sans-serif;
  margin: 200px 0 0 10vw; }

.projects_container___xZyBd {
  margin: 50px 0 0 10vw; }

.section_container___mAUIL {
  margin: 50px; }

.experience_container___3LBZx {
  display: flex;
  flex-wrap: wrap; }

.experience_wrapper___1qqSi {
  display: flex;
  color: white;
  max-width: 600px;
  min-width: 400px;
  flex-direction: column;
  margin: 30px 0; }

.experience_headings___QtKFu {
  display: flex;
  justify-content: space-between; }

a {
  text-decoration: none; }

.experience_title___1qAy- {
  font-size: 20px;
  color: white;
  border-bottom: 2px solid #EE86B7; }

.experience_title___1qAy-:hover {
  color: #EE86B7; }

.experience_period___1lA37 {
  font-size: 16px; }

.experience_details___3vfrz {
  margin: 5px 0;
  text-align: justify; }

.experience_detail___22JUl {
  line-height: 30px; }

.rubber_band___3ptjd {
  opacity: 1;
  display: inline-block;
  transition: all 0.5s ease-in;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  cursor: default; }

.rubber_band___3ptjd:hover {
  animation-name: rubberBand___3dxP7; }

@keyframes rubberBand___3dxP7 {
  from {
    transform: scale3d(1, 1, 1); }
  30% {
    transform: scale3d(1.25, 0.75, 1); }
  40% {
    transform: scale3d(0.75, 1.25, 1); }
  50% {
    transform: scale3d(1.15, 0.85, 1); }
  65% {
    transform: scale3d(0.95, 1.05, 1); }
  75% {
    transform: scale3d(1.05, 0.95, 1); }
  to {
    transform: scale3d(1, 1, 1); } }

.rubberBand___3dxP7 {
  -webkit-animation-name: rubberBand___3dxP7;
  animation-name: rubberBand___3dxP7; }

.welcome___RyDgE {
  color: white;
  font-size: 60px;
  font-family: 'Nunito', sans-serif;
  opacity: 1;
  display: inline-block;
  transition: all 0.5s ease-in;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  cursor: default; }

.welcome___RyDgE:hover {
  color: #EE86B7;
  animation-name: rubberBand___2qZWh; }

@keyframes rubberBand___2qZWh {
  from {
    transform: scale3d(1, 1, 1); }
  30% {
    transform: scale3d(1.25, 0.75, 1); }
  40% {
    transform: scale3d(0.75, 1.25, 1); }
  50% {
    transform: scale3d(1.15, 0.85, 1); }
  65% {
    transform: scale3d(0.95, 1.05, 1); }
  75% {
    transform: scale3d(1.05, 0.95, 1); }
  to {
    transform: scale3d(1, 1, 1); } }

.rubberBand___2qZWh {
  -webkit-animation-name: rubberBand___2qZWh;
  animation-name: rubberBand___2qZWh; }

.contact_button___2Rm1K {
  color: #EE86B7;
  font-size: 11px;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 4px;
  text-decoration: none;
  padding: 8px 12px;
  border: 1px solid #EE86B7;
  margin-top: 25px;
  float: left;
  border-radius: 3px;
  margin-left: 30px; }

.contact_button___2Rm1K:hover {
  background-color: #EE86B7;
  color: black; }

.word_wrapper___25wTZ {
  margin: 0 30px; }

.landing_wrapper___3wDwI {
  margin-top: 25vh;
  margin-left: 200px; }


/*# sourceMappingURL=styles.chunk.css.map*/